.blog-container {
  background-image: url("../images/web.jpeg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 250px 250px;
}

.blogHeader {
  background-image: url("../images/spider.png");
  background-repeat: no-repeat;
  background-size: 150px 100px;
  background-position: center 147px;
}

.flex-container {
  display: flex;
}

.aside {
  flex-grow: 1;
  width: 30%;
}

.middle {
  flex-grow: 2;
}

h1, h2, h3 {
  font-family: 'Spirax', cursive;
}

h1 {
  font-family: 'Spirax', cursive;
  text-align: center;
  font-size: 2.5em;
  font-weight: 600;
}

h2 {
  font-size: 1.8em;
  padding-left: 3rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

.footer {
  text-align: center;
}

.otherBlogs, .recentEntries {
padding-left: 3rem;
padding-top: 2%;
}

.postP {
  padding-top: 2%;
}

.postParagraph {
  padding-top: 2%;
  padding-bottom: 4%;
  line-height: 1.4em;
}