
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.header, .footer{
  text-align: center;
  background-origin: flex 5px;
  width: 100%;
  height: 100px;
  background-color: teal;
  padding: 50px;
}

.header a {
  color: white;
  font-size: 9rem
}

.blog a, .recentEntry a {
  color: teal;
}

.blog, .recentEntry{
  margin: 1rem;
}


.posts {
  width: 50%
}

h2 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;

}

a {
  text-decoration: none;
}

.post-date {
  margin-top: 10px;
  text-decoration: underline;
  font-size: 20px;

}


.post-title {
margin-bottom: 10px;
text-decoration: underline;
font-size: 20px;
}

.post-paragraph {
  padding-bottom: 2px;
  border-bottom: 2px solid rgba(0, 128, 128, 0.5) ;
}

.container {
  background-image: 
}