
* {
  box-sizing: border-box;
  border-style: solid red 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.header{
  text-align: center;
  background-origin: flex 5px;
  width: 100%;
  height: 100px;
  background-color: teal;
  padding: 50px;
}

.blog a {
  color: teal;
}

.blog {
  margin: 1rem;
}

